@import url('./css/modal.css');
@import url('./css/header.css');
@import url('./css/footer.css');
@import url('./css/content.css');

:root {
    --color-main-bg: #2ECC71;
    --color-secondaty-bg: #ececec;
}

html, body {
    font-family: 'Open Sans', sans-serif !important;
    min-width: 360px !important;
    
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.color_green {
    color: var(--color-main-bg);
}
.container {
    max-width: 1322px;
}

.section__title {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.section__subtitle {
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
}

.btn.button {
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    border: 3px solid transparent;
}






